body {
  color: #333333;
  font-size: 14px;
  line-height: 1.42857143;
}

a,
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}
